<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>First-Party Sets Submission Tool</title>
  <link href="/third_party/bootstrap.min.css" rel="stylesheet">
  <link href="/third_party/pretty-print-json.min.css" rel=stylesheet>
</head>
<body class='bg-info-subtle'>
<div class='bg-white rounded-1 shadow p-4 my-4 mx-auto' style='width: 720px !important;'>
  <h1 class='text-secondary fw-semibold text-center mb-4'>First-Party Sets Submission Tool</h1>
  <p>This tool generates the JSON resources needed to make a First-Party Set submission. It <b>does not</b> perform all the required technical validations (see full requirements <a href='https://github.com/GoogleChrome/first-party-sets/blob/main/FPS-Submission_Guidelines.md' target='_blank'>here</a>).</p>
  <p>Enter your First-Party Set details below:</p>
  <form id="mainForm" action="/" method="post" novalidate>
    <!-- Contact Email -->
    <div class="mb-3 has-validation">
      <label for="contact" class="form-label">Contact</label>
      <input type="email" class="form-control form-control-sm" name='contact' id="contact" placeholder="Email address or group alias if available">
      <div id='contactErrorMessage' class="invalid-feedback">Error message.</div>
    </div>
    <!-- Set Primary -->
    <div class="mb-3">
      <label for="primary" class="form-label">Set Primary</label>
      <input type="url" class="form-control form-control-sm" name='primary' id="primary" placeholder="https://primary1.com">
      <div id='primaryErrorMessage' class="invalid-feedback">Error message.</div>
    </div>
    <!-- Associated Subset -->
    <div class="mb-3 p-2" style='border: 1px dashed gray;'>
      <div class='d-flex justify-content-between'>
        <p class='fw-semibold fs-5'>Associated Subset <span class='fw-light fs-6 text-secondary'>(max 3)</span></p>
        <div>
          <button id='removeAssociate' type='button' class='btn btn-sm btn-outline-danger'>Remove</button>
          <button id='addAssociate' type='button' class='btn btn-sm btn-outline-primary'>Add</button>
        </div>
      </div>
      <div id='associatedDomains'></div>
    </div>
    <!-- Service Subset -->
    <div class="mb-3 p-2" style='border: 1px dashed gray;'>
      <div class='d-flex justify-content-between'>
        <p class='fw-semibold fs-5'>Service Subset</p>
        <div>
          <button id='removeService' type='button' class='btn btn-sm btn-outline-danger'>Remove</button>
          <button id='addService' type='button' class='btn btn-sm btn-outline-primary'>Add</button>
        </div>
      </div>
      <div id='serviceDomains'></div>
    </div>
    <!-- ccTLDs -->
    <div class="mb-3 p-2" style='border: 1px dashed gray;'>
      <div class='d-flex justify-content-between'>
        <p class='fw-semibold fs-5'>Country Code Top-level Domains <span class='fw-light fs-6 text-secondary'>(ccTLDs)</span></p>
        <div>
          <button id='removeCountry' type='button' class='btn btn-sm btn-outline-danger'>Remove</button>
          <button id='addCountry' type='button' class='btn btn-sm btn-outline-primary'>Add</button>
        </div>
      </div>
      <div id='countryDomains'></div>
    </div>
    <!-- Form Submit -->
    <div>
      <button type='submit' class='btn btn-success w-100'>
        Generate FPS Submission Resources
        <div id='loadingSpinner' class="spinner-border spinner-border-sm" role="status" style='display: none;'>
          <span class="visually-hidden">Loading...</span>
        </div>
      </button>
    </div>
  </form>
  <!-- Output -->
  <div id='outputWrapper' class='border-top border-2 mt-4' style='display: none;'>
    <h4 class='my-4'>Your FPS Submission Resources</h4>
    <p>Add the <code>.well-known</code> file to the <b>primary domain</b> with the following content:</p>
    <ul>
      <li id='primaryOutput' class='font-monospace'></li>
    </ul>
    <pre id='primaryWellKnownOutput' style="background-color: ghostwhite;" class='border rounded p-3'><code></code></pre>
    <hr>
    <p>Add the <code>.well-known</code> file to <b>all the other domains</b> in your set with the following content:</p>
    <div id='domainsListOutput'></div>
    <pre id='membersWellKnownOutput' style="background-color: ghostwhite;" class='border rounded p-3'><code></code></pre>
    <hr>
    <p>Submit a GitHub PR with your First-Party Set to the <a href='https://github.com/GoogleChrome/first-party-sets/blob/main/first_party_sets.JSON' target='_blank'>canonical list</a> by adding the content below as a new item to the "sets" list.</p>
    <pre id='submissionOutput' style="background-color: ghostwhite;" class='border rounded p-3'><code></code></pre>
  </div>
</div>
<script src='third_party/validate.min.js'></script>
<script src='third_party/pretty-print-json.min.js'></script>
<script src='js/main.js' type='module' defer></script>
</body>
</html>
